.article-title {
  margin-bottom: 30px;
}

/* education and experience  */
.timeline,
.skills {
  margin-bottom: 30px;
}
.timeline .title-wrapper,
.skills .title-wrapper,
.technologies .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}
.timeline-list {
  font-size: var(--fs-6);
  margin-left: 45px;
}
.timeline-list > .no-experience {
  margin-top: -20px;
  color: var(--light-gray);
  font-size: var(--fs-7);
  font-weight: var(--fw-300);
}
.timeline-item {
  position: relative;
}
.timeline-item:not(:last-child) {
  margin-bottom: 20px;
}
.timeline-title {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 7px;
}
.timeline-title > img {
  background: var(--border-gradient-onyx);
  width: auto;
  height: 32px;
  padding: 5px;
  object-fit: contain;
  border-radius: 6px;
}
.timeline-item-title {
  font-size: var(--fs-6);
  line-height: 1.3;
}
.timeline-title > .dot {
  width: 5px;
  height: 5px;
  background: var(--light-gray-70);
  border-radius: 50%;
}
.timeline-title > .timeline-item-subtitle {
  color: var(--light-gray-70);
  font-size: var(--fs-8);
  font-weight: var(--fw-300);
}
.timeline-year {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5px;
  justify-content: flex-start;
  align-items: center;
}
.timeline-year i {
  font-size: 12px;
}
.timeline-list span,
.timeline-list i {
  color: var(--vegas-gold);
  font-weight: var(--fw-400);
  line-height: 1.6;
}
.timeline-item:not(:last-child)::before {
  content: '';
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: var(--jet);
}
.timeline-item::after {
  content: '';
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--text-gradient-yellow);
  border-radius: 50%;
  box-shadow: 0 0 0 4px var(--jet);
}
.timeline-text {
  color: var(--light-gray);
  font-weight: var(--fw-300);
  line-height: 1.6;
}
.timeline-text-list {
  margin-block: 5px;
  margin-left: 20px;
}
.timeline-text-list-item {
  list-style-type: circle;
}

/* skils */
.skills-text {
  color: var(--light-gray);
  font-size: var(--fs-6);
  font-weight: var(--fw-300);
  line-height: 1.6;
  margin-block: -15px 25px;
}
.skills-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}
.skills-item {
  position: relative;
  background: var(--border-gradient-onyx);
  padding: 20px;
  border-radius: 14px;
  box-shadow: var(--shadow-2);
  z-index: 1;
  transition: background-color 0.3s;
}
.skills-item::before {
  content: '';
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
}
.card-link i {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 12px;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: var(--white-1);
  border: 1px solid var(--white-1);
  background: transparent;
  border-radius: 50%;
  transition:  color 0.3s, border-color 0.3s, background 0.3s, opacity 0.3s;
  opacity: 0.6;
  z-index: 2;
}
.skills-icon-box {
  margin-bottom: 10px;
}
.skills-icon-box img {
  width: 50px;
  height: 50px;
  margin: auto;
  filter: grayscale(100%);
  transition: border-color 0.3s, filter 0.3s;
}
.skills-content-box {
  text-align: center;
}
.skills-item-title {
  margin-bottom: 7px;
}
.skills-item-text {
  color: var(--light-gray);
  font-size: var(--fs-8);
  font-weight: var(--fw-3);
  line-height: 1.6;
}
.skills-item:hover {
  background-color: var(--vegas-gold);
}
.skills-item:hover .card-link i {
  background: var(--white-1);
  color: var(--onyx);
  opacity: 1;
}
.skills-item:hover .skills-icon-box img {
  filter: none;
}
.full-resume {
  margin-top: 20px;
  padding: 0;
}

/* #technologies */
.technologies .title-wrapper {
  margin-bottom: 0;
}
.technologies-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 15px;
  margin: 0 -25px;
  padding: 25px;
  padding-bottom: 25px;
  overflow-x: auto;
  scroll-behavior: smooth;
  overscroll-behavior-inline: contain;
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: 25px;
}
.technologies-item {
  min-width: 50%;
  scroll-snap-align: start;
}
.technologies-item img {
  display: block;
  height: 60px;
  width: 100%;
  filter: grayscale(1);
  transition: var(--transition-1);
}
.technologies-item img:hover {
  filter: grayscale(0);
}

/* responsive larger than 450px screen */
@media (min-width: 450px) {
  .technologies-item {
    min-width: calc(33.33% - 10px);
  }
}

/* responsive larger than 580px screen */
@media (min-width: 580px) {
  .timeline-list {
    margin-left: 65px;
  }
  .timeline-item:not(:last-child)::before {
    left: -40px;
  }
  .timeline-item::after {
    height: 8px;
    width: 8px;
    left: -43px;
  }

  /* skills */
  .skills-item {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 18px;
    padding: 30px;
  }
  .skills-icon-box {
    margin-bottom: 0;
    margin-top: 5px;
  }
  .skills-content-box {
    text-align: left;
  }

  /* technologies */
  .technologies-list {
    margin: 0 -30px;
    padding: 45px;
    scroll-padding-inline: 45px;
  }
  .technologies-item {
    min-width: calc(33.33% - 35px);
  }
}

@media (min-width: 1024px) {
  /* skills */
  .skills-list {
    grid-template-columns: 1fr 1fr;
    gap: 20px 25px;
  }
  
  /* technologies */
  .technologies-item {
    min-width: calc(25% - 38px);
  }
}

/* responsive larger than 1250px screen */
@media (min-width: 1250px) {
  .timeline-text {
    max-width: 700px;
  }
}
